@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p>Welcome to the Johari window project please click the button below to go to the Johari Window!</p>
    <a class="btn btn-outline-dark text-dark" asp-area="" asp-page="/Admin/JohariWindow"><b>Johari Window</b></a>
</div>
